{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card ml-3 mr-3 bg-secondary">
        <div class="card-body bg-secondary">
            <h1 class="text-white bg-secondary">About Page</h1>
            <p class="text-white bg-secondary">
                This is a simple web aplication in envolving bootstrap in front-end and django in back-end
            </p>
            <p class="text-white bg-secondary">
                You can see in Posts all the posts made by the admin and click in the link to be redirected to the
                slug of each post
            </p>
        </div>
    </div>
</div>
{% endblock %}